*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/background.png) ;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    user-select: none;
     background-color: green;
     background-size: cover;
}



.hatter-kep{
   
   position: absolute;
}
.tarolo{
    height: 400px;
    width: 250px;
    position: relative;
}

#kupak{
    width: 250px;
    height: 400px;
    z-index: 0;
}

.szoveg-tarolo{
    position: absolute;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    padding: 3rem;
    vertical-align: middle;
    align-items: center;
}

#szoveg{
    
    text-align: center;
    overflow-wrap: break-word;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0.5rem;
    z-index: 100000000;
}